<?xml version='1.0' encoding='UTF-8'?>
<!--
Produced for iFixit.com in support of DITA content integration with the 
iFixit online repair manual facility.
Project home: https://github.com/iFixit/omanual/
Tested in DITA-OT version 1.8.2, but possibly compatible back to 1.5.3.
-->

<plugin id="org.omanual.dita2omanual">
	<!-- dependencies: none (maybe preprocess) -->
	<!-- extension points -->
	<extension-point id="dita.xsl.omanual" name="oManual XSLT import"/>
	<!-- extensions -->
	<!--feature extension="dita.specialization.catalog.relative" file="catalog.xml"/--> 
	<feature extension="dita.conductor.transtype.check" value="omanual" type="txt"/>
	<feature extension="dita.conductor.target.relative" file="integrator.xml"/>
	<!-- enable extension of this output type function -->
	<template file="xsl/dita2omanual_template.xsl"/>
</plugin>